.container
  .row
    .col-md-12
      %h1.text-center Secret Santa App
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h4 Upload Participants File
        .panel-body.file-upload
          %form
            %span.btn.btn-default.btn-file.file-upload-proxy
              Browse for file
            %button.btn.btn-primary.pull-right
              Upload
