.container
  .row
    .col-md-12
      %h1
        Results
        %small
          = @year.year
      %ol.breadcrumb
        %li
          %a{ href: root_path }
            Home
        %li.active
          Results
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          Secret Santa List
        %table.table
          %thead
            %tr
              %td.text-center
              %td.text-center
                %h4 Secret Santa
              %td.text-center
                %h4 Previous Secret Santa
          %tbody
            - @year.participants.each do |participant|
              %tr
                %td.text-center
                  = participant.full_name
                %td.text-center
                  = participant.current_secret_santa

    -#
    -# - @survey.themes.each do |theme|
    -#   .panel.panel-default
    -#     .panel-heading
    -#       %h3= theme
    -#     %ol.list-group
    -#       - @survey.questions(theme).each do |question|
    -#         %li.list-group-item.clearfix
    -#           .col-md-10.text-large.text-muted
    -#             = question.value
    -#           .col-md-2.panel.panel-default.text-center.count-box.-nomargin
    -#             .panel-body
    -#               .count
    -#                 = @survey.average_score_for(question)
    -#               .count-label.text-muted.text-uppercase
    -#                 Average score
